body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 3em;
    color: #4a90e2;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.avatar-gallery {
    display: flex;
    gap: 20px;
}

.avatar-container {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 220px;
    transition: transform 0.3s ease;
}

.avatar-container:hover {
    transform: scale(1.1);
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4a90e2;
}

.name {
    margin-top: 10px;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.music-button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.music-button:hover {
    background-color: #357ab7;
    /*transform: scale(1.05);*/
}

.music-button img {
    margin-right: 8px; /* Space between the icon and text */
    width: 40px; /* Adjust icon size */
    height: 40px;
}

.game-button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.game-button:hover {
    background-color: #357ab7;
    /*transform: scale(1.05);*/
}

.game-button img {
    margin-right: 8px; /* Space between the icon and text */
    width: 40px; /* Adjust icon size */
    height: 40px;
}

.music-button, .game-button{
    margin-top: 33px; /* Adds space between the buttons */
}
